.container {
    background: #ffffff;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    //   height: 100px;
    padding: 10px 20px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  .add {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .text {
        h2 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 13px;
        }
      }
      .button {
        // display: none; 
        button {
          background: linear-gradient(360deg, #ba54f5 0%, #e14eca 100%);
          border-radius: 6px;
          border: none;
          padding: 10px 20px;
          color: white;
          cursor: pointer;
        }
      }
    }
  .action {
    margin-top: 20px;
    background: #f5f7f8;
    border-radius: 8px;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 70% 13% 13%;
    // grid-gap: 10px;
    justify-content: space-between;
    .filter,
    .export,
    .search {
      background-color: white;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 100%;
        border: none;
        height: 35px;
        outline: none;
      }
      h5 {
        margin: 0;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #ba54f5;
      }
      img {
        width: 16px;
        margin-right: 5px;
        // margin-left: 5px;
      }
    }
    .search {
      img {
        margin-left: 10px;
      }
    }
  }
  .table {
    width: 90%;
    margin: auto;
    overflow-x: auto;
    margin-top: 20px;
    table {
      width: 100%;
      border-collapse: collapse;
      min-width: 700px;

      tr:hover {
        background: #f4f4f4;
        border-radius: 7px;
      }
      th {
        font-family: Poppins;
        padding: 5px 0px;
        font-style: normal;
        font-weight: bold;
        border-collapse: collapse;
        font-size: 12px;
        height: 40px;
        // border-bottom: 1px solid black;
        color: #101010;
        text-align: center;
        background: rgba(29, 140, 248, 0.06);
        border-radius: 8px;
      }
      td {
        font-family: Poppins;
        padding: 10px 0px;
        text-align: center;
        height: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        border-bottom: 1px solid lightgrey;
        .actions {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          //   width: 25px;
          //   height: 25px;
          img {
            width: 17px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .pages {
    display: flex;
    margin-top: 30px;
    .back,
    .front,
    .numbers {
      background: #ececec;
      border-radius: 7px;
      margin-right: 10px;
      height: 30px;
      width: 30px;
      cursor: pointer;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: #e14eca;
      }
    }
  }
}