.linssssssssss {
  position: absolute;
  top: 8%;
  left: 0;
  background: linear-gradient(360deg, #ba54f5 0%, #e14eca 100%);
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  color: white;
}
.linssssssssss1 {
  position: absolute;
  top: 8%;
  left: 100px;
  background: linear-gradient(360deg, #ba54f5 0%, #e14eca 100%);
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.linssssssssss2 {
  position: absolute;
  top: 8%;
  left: 200px;
  background: linear-gradient(360deg, #ba54f5 0%, #e14eca 100%);
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
